snippet inc "optimal for cp"

//
//

#include <bits/stdc++.h>

#define pb push_back
#define ll long long int
#define forn(i,n) for(auto i=0;i<n;i++)
#define vi vector<int>
// #define Debug(i,x) cout << "DEBUG " << i <<": " << x << "\n";
#define Debug(i,x) ;

using namespace std;

void solve(){
	$1
}

int main(){
	ios::sync_with_stdio(0);
	cin.tie(0);
	int t=1;
//	cin >> t;
	while(t--)
		solve();
	
	return 0;
}
endsnippet
