snippet inc "optimal for cp"
#include <bits/stdc++.h>

#define pb push_back

using namespace std;

void solve(){
	$0
}

int main(){
	ios::sync_with_stdio(0);
	cin.tie(0);
	
		solve();
	
	return 0;
}
endsnippet
